apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: us-central1-docker.pkg.dev/nsbe-app-482908/nsbe-repo/backend:latest
        ports:
        - containerPort: 8000
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
        - name: DEBUG
          value: "False"
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: SECRET_KEY
        - name: EMAIL_HOST_PASSWORD
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: EMAIL_PASSWORD
        - name: GOOGLE_API_KEY
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: GOOGLE_KEY
        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 20
          periodSeconds: 10