.wrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.sidebar {
  position: relative;
  height: 100%;
  width: 100%;

  background: #fff;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
}

.sidebar > .header {
  margin-bottom: 30px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.sidebar > .header img {
  width: 140px;
  height: 40px;
  object-fit: contain;
}

.list {
  list-style-type: none;
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar ul > li {
  padding: 15px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.sidebar ul > li:hover {
  background: #1434a4;
  border-radius: 0 20px 20px 0;
}

.sidebar ul > li:hover a {
  color: #ffd700;
}

.sidebar ul > li:hover img {
  filter: invert(1);
}

.sidebar ul > li:hover span {
  color: #ffd700;
}

.sidebar ul > li > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar ul > li > div > span {
  display: flex;
  font-size: 1.1rem;
}

.nav-link {
  color: black;
  margin-left: 5px;
  display: block;
  width: 100%;
}

/* Bottom List */
.bottom_list {
  list-style-type: none;
  margin-top: auto;
  width: 100%;
  padding-bottom: 10px;
}
