name: Build and Deploy

on:
  push:
    branches: [ "main" ]

# Global env variables
env:
  PROJECT_ID: nsbe-app-482908
  REGION: us-central1
  GAR_REPO: nsbe-repo
  CLUSTER_NAME: nsbe-cluster
  CLUSTER_ZONE: us-central1-a

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # Authenticate to Google Cloud
    - id: 'auth'
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    # Configure Docker
    - name: Docker Auth
      run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

    # Build & Push Server (The Django app)
    - name: Build and Push Server
      run: |
        docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_REPO }}/backend:latest ./server
        docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_REPO }}/backend:latest

    # Build & Push Client (The React app)
    - name: Build and Push Client
      run: |
        docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_REPO }}/frontend:latest ./client
        docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_REPO }}/frontend:latest

    # Get GKE Credentials
    - name: Get GKE Credentials
      uses: google-github-actions/get-gke-credentials@v1
      with:
        cluster_name: ${{ env.CLUSTER_NAME }}
        location: ${{ env.CLUSTER_ZONE }}

    # 6. Deploy to GKE
    - name: Apply K8s Manifests
      run: 
        kubectl apply -f infra/k8s/client.yaml
        kubectl apply -f infra/k8s/server.yaml