name: Build and Deploy

on:
  push:
    branches: [ "main" ]

# Global Environment Variables to prevent typos
env:
  PROJECT_ID: nsbe-app-482908
  REGION: us-central1
  GAR_REPO: nsbe-repo
  CLUSTER_NAME: nsbe-cluster
  CLUSTER_ZONE: us-central1-a

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # 1. Authenticate to Google Cloud
    - id: 'auth'
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    # 2. Configure Docker
    - name: Docker Auth
      run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

    # 3. Build & Push Server (The Django app)
    - name: Build and Push Server
      run: |
        # We use ./server because that is your folder name
        docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_REPO }}/backend:latest ./server
        docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_REPO }}/backend:latest

    # 4. Build & Push Client (The React app)
    - name: Build and Push Client
      run: |
        # We use ./client because that is your folder name
        docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_REPO }}/frontend:latest ./client
        docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_REPO }}/frontend:latest

    # 5. Get GKE Credentials
    - name: Get GKE Credentials
      uses: google-github-actions/get-gke-credentials@v1
      with:
        cluster_name: ${{ env.CLUSTER_NAME }}
        location: ${{ env.CLUSTER_ZONE }}

    # 6. Deploy to GKE
    - name: Apply K8s Manifests
        # This will run your client.yaml and server.yaml inside the k8s folder
      run: kubectl apply -f k8s/